# Temp files #
##############
*.swp
*.swo
*.temp
*.tmp
*.bak
tmp/

# Jupyter Notebook checkpoints #
################################
.ipynb_checkpoints/
jupyterlab-workspace

# Caches #
##########
.cache/

# MkDocs site builds #
######################
/site/
/pynb_auto_reqs.txt
