# Temp files #
##############
*.swp
*.temp
*.tmp
tmp/

# Jupyter Notebook checkpoints #
################################
.ipynb_checkpoints/
jupyterlab-workspace

# Caches #
##########
.cache/

# MkDocs site builds #
######################
./site/
